{% extends 'catalog/base.html' %}
{% block content %}
<section class="py-5 text-center container">
</section>
<div class="container">

    <div class="col mb-5">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Укажите ваш email</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <input class="form-control mb-3" name="email"/>
                            <button type="submit" class=" mb-3 btn btn-success form-control">Восстановить пароль
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="col-12 mb-5">
    <a class="btn btn-outline-secondary" href="{% url 'catalog:categories_list' %}" role="button">Назад</a>
</div>
    </div>
{% endblock %}
