{% extends 'catalog/base.html' %}
{% block content %}
<section class="py-5 text-center container">
</section>
<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col mb-5">
            <div class="row">
                <h5>
                    Если указанная почта зарегистрирована, на неё отправлен новый пароль.
                </h5>
            </div>
        </div>
    </form>
    <div class="col-12 mb-5">
        <a class="btn btn-success" href="{% url 'users:login' %}" role="button">Попробовать войти снова</a>
    </div>
</div>
{% endblock %}
