{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="font-weight-bold">{{ object.name }}</h1>
            <p class="lead text-body-secondary">{{ object.description }}</p>
        </div>
    </div>
</section>

<div class="container">
    <div class="col-12 mb-5">
        {% if user.is_authenticated %}
        <a class="btn btn-outline-primary" href="{% url 'catalog:create' %}">Добавить товар</a>
        {% endif %}
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for category in object.products.all %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <img src="{{ category.image | media_filter }}">
                <div class="card-body">
                    <h4 class="card-title">{{ category.name }}</h4>
                    <p class="card-text">
                        {{ category.description }}
                    <h6 class="text">Цена: {{ category.price }} рублей.</h6>
                    </p>
                    <a class="btn btn-outline-primary" href="{% url 'catalog:products' category.pk %}" role="button">Подробнее</a>
                    {% if perms.catalog.can_edit_description and perms.catalog.can_cancel_publishing and perms.catalog.can_change_category or user == category.owner%}
                    <a class="btn btn-outline-success" href="{% url 'catalog:update' category.pk %}" role="button">Редактировать</a>
                    <a class="btn btn-outline-danger" href="{% url 'catalog:delete' category.pk %}" role="button">Удалить</a>
                    {% endif %}
                </div>
                {% for version in category.version_product.all %}
                <div class="card-footer">Версия: {{ version.number_version }} / {{ version.name_version }}</div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div>
        <a class="btn btn-outline-secondary" href="{% url 'catalog:categories_list' %}" role="button">Назад в
            категории</a>
    </div>
</div>
    {% endblock %}
