{% extends 'catalog/base.html' %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body text-center">
                        <h4 class="card-title">{{ category.name }}</h4>
                        <p class="card-text">
                            {{ category.description }}
                        </p>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'catalog:products'  %}" class="btn btn-link">Перейти</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}