{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        {% for product in product_list %}
        <div class="col-4">
            <div class="card">
                <img src="{{ product.image | media_filter }}">
                <div class="card-body">
                    <h4 class="card-title">{{ product.name}}</h4>
                    <p class="card-text">
                        {{ product.description }}
                        <h6 class="text">Цена: {{ product.price }} рублей.</h6>
                    </p>
                    <a class="btn btn-primary" href="{% url 'catalog:product_detail' product.pk %}" role="button">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
